body {
    margin: 30px;
}

.input-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.adapt-button-size {
    height: 70%;
}

#favicon-title {
    width: 65px;
    padding-bottom: 10px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 100px;
}