body {
    margin: 30px;
}

.input-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.adapt-button-size {
    height: 70%;
}

#favicon-title {
    width: 65px;
    padding-bottom: 10px;
}